body{
margin:0;
padding:0;
font-family:"Roboto",sans-sarif;
    display: flex;
}
header{
    position: fixed;
    background:#fff;
    padding:0px;
    width: 100%;
    height:30px;
    margin-left:260px;
}
.left_area{
    margin-left:50px;
}

.left_area h2{
    font-size:20px;
} 
.left_middle{
    width:770px;
}
.down{
    width:570px;
    height:110px;
    margin-top:-20px;
}
.side_middle_bottom{
    background:#e0e4e2;
    padding:5px;
    width:200px;
    height:45px;
    margin-top:15px;
    padding-top:10px;
    border-radius:10px;
    display: inline-block;
    margin-top:520px;
    margin-left:12px;
    }
.stream{
    height:40px;
    width:44px;
    border:2px solid #e55f3d;
    border-radius:15px;
    margin-right:16px;
    object-fit: cover;
    padding:2px;
    
}
.popular{
    width:290px;
    height:300px;
    padding-right:10px;
    border-radius:20px;
    border-top-right-radius:25px;
    object-fit: cover;
}
.left_middle_bottom{
    background:#e0e4e2;
    padding:5px;
    width:250px;
    height:45px;
    margin-top:15px;
    padding-top:10px;
    border-radius:10px;
    display: inline-block;
    
}

.top_rig{
    width:40px;
    height:40px;
    border-radius:10px;
    float:left;
    overflow: hidden;
    margin-right:25px;
    margin-left:10px;
    border:2px solid #e55f3d;
    padding: 2px;
    object-fit: contain;
}

.left_middle_bottom a{
    color:#000;
    width:100%;
    text-decoration: none;
    padding-top:20px;
    
    display: inline;
}
.left_middle_bottom i{
    color: aliceblue;
    background-color: black;
    border-color:white;
    border:white;
    height: 15px;
    width: 15px;
    border-radius:20px;
    float: right;
    margin-bottom:30px;
    margin-top:-10px;
    margin-right:10px;
}
.left_middle_bottom span{
    
}
.sidebar h3{
    margin: 0;
    text-transform:uppercase;
    font-size:22px;
    font-weight:900;
    margin-bottom:30px;
    padding-left:30px;
}

.sidebar span{
    color:#e55f3d;
}

/*.logout_btn{
    padding: 5px;
    background:#198303;
    text-decoration: none;
    float:right;
    margin-top:-30px;
    margin-right: 40px;
    border-radius:2px;
    font-size: 15px;
    font-weight:600;
    color:#fff;
    transition:0.5s;
    transition-property:background;
}
*/
.sidebar{
    background:#fff;
    margin-top: 10px;
    padding-left:10px;
    padding-top:30px;
    position:fixed;
    left:0;
    width: 230px;
    height:100%;
    box-shadow:200px;
}

.sidebar_mid{
    background:#e7e9e7;
    margin-right:20px;
    margin-left:30px;
    padding-top:30px;
    margin-top:100px;
    position:fixed;
    left:0;
    width:180px;
    height:150px;
    border-radius:10px;
}
.sidebar_mid_course{
    background:#e7e9e7;
    margin-right:20px;
    margin-left:30px;
    padding-right:20px;
    padding-top:20px;
    margin-top:300px;
    position:fixed;
    left:0;
    width:180px;
    height:50px;
    border-radius:10px;
}
.sidebar .profile_image{
    width:100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom:100px;
     margin-left: 70px;
    object-fit: cover;
}
.sidebar a{
    color:#000;
    display: block;
    width:100%;
    line-height:20px;
    text-decoration:none;
    padding-left:40px;
    box-sizing: border-box;
}

.sidebar a:hover{
    background:#198303;
}
.sidebar i{
    padding-right: 10px;
}

.sidebar_mid_points{
    background:#e7e9e7;
    margin-right:20px;
    margin-left:20px;
    
   
    margin-top:400px;
    
    position:fixed;
    left:0;
    width:90px;
    height:100px;
    border-radius:10px;
}
.sidebar_mid_points a{
    padding-left:15px;
    padding-right:15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar_mid_percent{
    background:#e7e9e7;
    margin-right:20px;
    margin-left:130px;
    
   
    margin-top:400px;
    
    position:fixed;
    left:0;
    width:100px;
    height:100px;
    border-radius:10px;
}
.sidebar_mid_percent a{
    padding-left:15px;
    padding-right:15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.right_area{
    background:#fff;
    margin-top: 10px;
    padding-left:10px;
    padding-right:20px;
    padding-top:30px;
    position:fixed;
    right:0;
    width: 300px;
    height:100%;
    box-shadow:200px;
}
.right_area img{
    height: 100px;
    width: 270px;
    margin-top:50px;
    display:flex;
    object-fit: cover;
    border-radius:20px;
}
.right_img{
    display:flex;
    width: 330px;
    height:180px;
     margin-bottom:60px;
    
}
.right_img img{
  width:120px;
  height:180px;
  margin-right:20px;
 object-fit: cover;
 
} 
.txet{
    background-color:#e7e9e7;
    height:30px;
    border-radius:10px;
    border:none;
    width:210px;
}
.txet{
    background-color:#e7e9e7;
    height:40px;
    border-radius:10px;
    border:none;
    width:210px;
}
.timbus{
    background-color:#e55f3d;
    border-radius:10px;
    height:40px;
    border:none;
    color: #fff;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}
.right_bottom{
    width:280px;
    height:120px;
    background-image: url(ca30acfb5a052287f1b5861faafe9a15.jpg);
    border-radius:10px;
    object-fit: cover;
    position: absolute;
    
}
.right_bottom h3{
    color:#e55f3e;
    padding-left:20px;
    padding-bottom:10px;
    text-decoration: bold;
    font-size:22px;
    font-weight:900;
}
.right_bottom span{
    color:#fff;
    padding-left:10px;
    padding-bottom:10px;
    
    font-size:15px;
    font-weight:600;
}
.right_bottom button{
    margin-left:30px;
    margin-top:-15px;
    width:130px;
    height:30px;
    background-color: #fff;
    color:#e55f3d;
    text-decoration:bold;
    border:none;
    border-radius:10px;
}
.vl{
  border-left: 1px solid #000;
  height:100%;
  margin-left:250px;
}